<section class="vh-100" style="background-color: white;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="ccol-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;" style="background-color: #fff3e6;">
                    <div class="card-body p-4" >
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <!-- <img src="https://media.licdn.com/dms/image/C4E0BAQGDWBcIA9qzaw/company-logo_200_200/0/1650457638873?e=2147483647&v=beta&t=80cY9jrqGTrcjSsWuIZTqYq2ALpUCnsCcXXWAxqXFDY"
                                alt="login form" class="img-fluid"
                                style="border-radius: 0.3rem 0 0 0.3rem;border-left-width: 700px;display: flex;margin-top: 60%;justify-content: center;margin-bottom: auto; position: relative;margin-right: auto;margin-left: auto;
                            " /> -->
                        </div>
                        <!-- <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black"> -->

                                <form style="text-align: center;">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>

                                    </div>

                                    <h1 class="fw-normal mb-3 pb-3"
                                        style="letter-spacing: 1px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  text-align: center ; color: #e57506;  ">
                                        Sign Up</h1>

                                    <div class="form-outline mb-4"  >
                                        <input type="text" class="form-control form-control-lg" placeholder="FirstName"
                                            [(ngModel)]="FirstName" name="FirstName">
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="LastName"
                                            [(ngModel)]="LastName" name="LastName">
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" placeholder="UserName"
                                            [(ngModel)]="UserName" name="UserName">
                                    </div>
                        
                                    <div class="form-outline mb-4">
                                    <div class="gender-dropdown">
                                        <input type="text" class="form-control form-control-lg" placeholder="Gender"
                                            [(ngModel)]="Gender" name="Gendre">
                                        <select id="gender-select" [(ngModel)]="Gender" name="Gender">
                                          <option value="male">Male</option>
                                          <option value="female">Female</option>
                                        </select>
                                      </div>
                                     
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" class="form-control form-control-lg"
                                            placeholder="Email address" [(ngModel)]="email" name="email">

                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" class="form-control form-control-lg"
                                            placeholder="Password" name="password" [(ngModel)]="password">

                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="button"
                                            (click)="create()">Create</button>
                                        <br>
                                        
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->
</section>